---
import siteConfig from "../site.config";
import SiteIdentity from "./SiteIdentity.astro";
const currentYear = new Date().getFullYear();
---

<footer
  class="w-5xl mx-auto mt-auto border-t border-skin-line p-6 flex flex-col sm:flex-row items-center justify-between gap-4 text-xs sm:text-sm kanit-light"
>
  <div class="flex items-center gap-6">
    {
      siteConfig.footerNavLinks?.map((link) => (
        <a href={link.href} title={link.text} class="hover:underline">
          {link.text}
        </a>
      ))
    }
    {
      siteConfig.socialLinks?.map((link) => (
        <a
          href={link.href}
          title={link.text}
          target="_blank"
          class="hover:text-skin-accent transition-colors"
        >
          {link.text}
        </a>
      ))
    }
  </div>

  <div class="flex items-center gap-2 text-balance text-center sm:text-left">
    <span>&copy; {currentYear} {siteConfig.title}. All rights reserved.</span>
  </div>
</footer>
